.registerCard .card-title{
    padding:0;
    margin:0;
    text-align: center;

}
.registerCard .card-header{
    background: #010229;
    padding:3px;
    color:yellow;
}
.registerCard .card-footer{
    background: #010229;
    padding:3px;
    color:yellow;
    text-align: center;
}
.registerCard .card-body{
    background: #c9c9c9;
    padding:.4rem;
    margin:0;
}
.registerCard {
    font-family:"Droid Sans Mono";
    font-size: 18px;
    padding:0;
    margin:0;
    box-shadow: 0px 1px 8px 5px black;
}
.registerCard input{
    font-family: Courier New, monospace;
    font-weight: 400;
    text-align: center;
    border-radius: 25px 25px 25px;
    font-size: 18px;
    border-bottom: 4px solid #0b0a4a;

}
.registerCard button {
    font-weight: 400;
    font-family: "Segoe UI";
    font-size: 19px;
}
.registerCard button:hover{
    transform:scaleX(1.16);

}
